@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
   --accent: #101c24;
   --header-footer-size: 5.5rem;
}

.link-base {
   color: white;
   text-decoration: none;
   &:hover {
      opacity: 0.6;
   }
}

.hide-mobile {
   @media (max-width: 750px) {
      display: none;
   }
}

.no-select {
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome, Edge, Opera and Firefox */
}
